.number {
  color: var(--accent-dark);
}
.number:after {
  counter-increment: sidenote-counter;
  position: relative;
  vertical-align: baseline;
}

.label {
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin-bottom: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.sidenote {
  float: right;
  clear: right;
  vertical-align: baseline;
  position: relative;
  text-indent: 0;
  margin-right: calc(-50% - 0.75rem); /* unit 10 of chakra-ui*/
  width: 50%;
}
.control {
  display: none;
}

@media (pointer: coarse) and (max-width: 48em) {
  .number {
    --size-touch-target: 3rem;
    --align-number: flex-end;
    margin-block-start: -3rem;
    border: 1px solid var(--accent-light);
  }
  .number:after {
    margin-right: 0.25rem;
    position: static;
  }
}
@media (pointer: fine) and (max-width: 48em) {
  .number {
    --size-touch-target: 24px;
    margin: 0 0.25rem;
    border: 1px solid var(--accent-light);
  }
  .number:after {
    margin-right: 0.25rem;
    position: static;
  }
}

@media (max-width: 48em) {
  .number {
    width: var(--size-touch-target, auto);
    height: var(--size-touch-target, auto);
    display: inline-flex;
    text-indent: 0;
    justify-content: var(--align-number, center);
    align-items: var(--align-number, center);
    position: relative;
  }

  .number + .sidenote {
    display: none;
  }

  .control:checked + .number:before {
    content: "";
    display: block;
    border-right: 1px solid var(--black);
    height: calc(0.5rem + 2px);
    width: 50%;
    bottom: calc(-0.5rem - 2px);
    left: 0;
    position: absolute;
  }
  .control:checked + .number {
    background-color: var(--accent-light);
    border: 1px solid var(--black);
  }
  .control:checked + .number + .sidenote {
    width: 100%;
    margin: 0.5rem 0;
    position: static;
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--black);
    background-color: var(--white);
  }
}
